<nav class="nav">
    <div>
        <ul>
            {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.link }}" {% if page.url==item.link %} class="current" {% endif %}>{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Categories</h3>
        <ul>
            {% for category in site.categories %}
            {% unless category[0] == "personal" %}
            <li>
                <a href="/{{ category[0] | slugify }}/" {% if page.url contains category[0] %} class="current" {% endif
                    %}>
                    {{ category[0] }}
                </a>
            </li>
            {% endunless %}
            {% endfor %}
        </ul>
    </div>
</nav>